
@{
    ViewBag.Title = "Upload";
    ViewBag.Description= "上传测试！";
}

<link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">inputfile</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <!-- /.box-header -->

    <div class="row">
        <div class="col-md-12">
            <form>
                <input type="file" name="file" id="txt_file" multiple class="file-loading" />

                <div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">请选择文件</h4>
                            </div>
                            <div class="modal-body">

                                <input type="file" name="file" id="txt_file" multiple class="file-loading" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-12">
            <h3 class="box-title">
                支持
['DOC','DOT','DOCM','DOCX','DOTM','ODT','RTF','MHT','WPS','WRI','XLS','XLT','XLW','XLSB','XLSM','XLSX'
                ,'XLTM','XLTX','CSV','ODS','POT','PPT','PPS','POTM','POTX','PPSM','PPSX','PPTM','PPTX','ODP],
            </h3>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        Visit <a href="#">Select2 documentation</a> for more examples and information about
        the plugin.
    </div>
</div>


@section ViewSpecificJavascript{
    <script src="~/Content/js/fileinput.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //0.初始化fileinput
            var oFileInput = new FileInput();
            oFileInput.Init("txt_file", "/OfficePreview/UploadFile");
        });
        //初始化fileinput
        var FileInput = function () {
            var oFile = new Object();

            //初始化fileinput控件（第一次初始化）
            oFile.Init = function (ctrlName, uploadUrl) {
                var control = $('#' + ctrlName);

                //初始化上传控件的样式
                control.fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: uploadUrl, //上传的地址
                    allowedFileExtensions: ['DOC', 'DOT', 'DOCM', 'DOCX', , 'txt', 'DOTM', 'ODT', 'RTF', 'MHT', 'WPS', 'WRI', 'XLS', 'XLT', 'XLW', 'XLSB', 'XLSM', 'XLSX', 'XLTM', 'XLTX', 'CSV', 'ODS', 'POT', 'PPT', 'PPS', 'POTM', 'POTX', 'PPSM', 'PPSX', 'PPTM', 'PPTX', 'ODP'],
                    showUpload: true, //是否显示上传按钮
                    showCaption: false,//是否显示标题
                    browseClass: "btn btn-primary", //按钮样式
                    //dropZoneEnabled: false,//是否显示拖拽区域
                    //minImageWidth: 50, //图片的最小宽度
                    //minImageHeight: 50,//图片的最小高度
                    //maxImageWidth: 1000,//图片的最大宽度
                    //maxImageHeight: 1000,//图片的最大高度
                    //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                    //minFileCount: 0,
                    maxFileCount: 1, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount: true,
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                });

                //导入文件上传完成之后的事件
                $("#txt_file").on("fileuploaded", function (event, data, previewId, index) {
                    $("#myModal").modal("hide");
                    var url = data.response;
                    if (data == undefined) {
                        alert("");
                        return;
                    }
                    document.location.href = "/OfficePreview/Preview?url=" + url;
                });
            }
            return oFile;
        };
    </script>
}




